modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 5002
externalPort = 3000

[[ports]]
localPort = 37033
externalPort = 5000

[[ports]]
localPort = 38459
externalPort = 3001

[[ports]]
localPort = 42119
externalPort = 3003

[[ports]]
localPort = 44905
externalPort = 4200

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run build"]

[workflows]

[[workflows.workflow]]
name = "Start Application"
mode = "sequential"
author = 41090967

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[agent]
integrations = ["javascript_log_in_with_replit:1.0.0"]

[userenv]

[userenv.production]
PORT = "5000"
